#color_red{
    color:#c92a5a;
    margin-top: 2px;
}

#text{
    display: none;
    
}
#color_black{
    color:#000000;
    margin-top: 2px;
}

.color_black{
    color:#000000;
}


#facebookp{
    margin-top: 4px;
    margin-left:10px;
    color: #095f6e;
    
}


#twitterp{
    margin-top: 4px;
    margin-left:10px;
    color: #095f6e;
    
}


