/***********************************************new style***********************************************/   
.dashboard-bodypart {
	width: 100%;
	float: left;
	padding: 60px 0px;
	background: #fff;
}
.dashboard-bodypart-in h1 {
	color:#fff;
	position:relative;
	z-index:9;
	margin-bottom:20px;
}
.dashboard-bodypart-in h1 span {
	margin-left: 40px;
}
.dashboard-bodypart-in h1 small {
	margin-left: 10px;
	font-size: 16px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
	background: #076272 !important;
}
.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
	color: #c5c5c5 !important;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
	z-index: 9999999 !important;
}
.card {
	position: static !important;
}
.dashboard-bodypart h2 {
	text-align: left;
	color: #03183e;
    margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
}

.center{
    text-align: center !important;
}


.dashboard-bodypart::after {
 content: '';
 position: absolute;
 top: 0;
 background: #076272;
 width: 100%;
 height: 300px;
}
.sidebar .nav .nav-item.active > .nav-link {
	background: #f6f9fc !important;
	color: #005465 !important;
}
.sidebar .nav .nav-item.active > .nav-link span {
	color: #005465 !important;
}
.card-body {
	z-index: 9;
}
.card {
	border-radius: 0.25rem;
	z-index: 99;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
 background: #f6f9fc !important;
 color: #205465 !important;
}
.card-body {
	z-index: 9;
	background: #fff;
	border-radius: 10px;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover {
	color: #000000 !important;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
	border-radius: 0 5px 5px 0px;
	background: #1daac3 !important;
	color: #fff !important;
}
.dashboard-bodypart-in {
	padding:0 30px;
}
.card {
	background:#fff !important;
}
.sidebar {
	background: #ffffff !important;
}
.combtnDiv {
	float: right;
	font-size: 15px;
	border: 2px solid #076272;
	padding: 10px 20px;
	margin-left: 10px;
	border-radius: 10px;
	color: #076272 !important;
	text-decoration: none !important;
}
.table.table-striped tbody tr td ul {
	padding:0;
}
.table.table-striped tbody tr td ul li {
	list-style-type: none;
	width: auto;
	float: left;
	margin-left: -8px;
}
.navbar {
	background: #075f6e !important;
}
.table.table-striped tbody tr td {
    color: #000c33;
    font-weight: 500;
    line-height: 22px;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color:#f5f9f9 !important;
}
.table.table-striped tbody tr td {
	color: #000c33;
	font-weight: 500;
}
.table.table-striped tbody tr td span {
	margin-left: 10px !important;
	width: 100%;
	float: left;
	margin: 3px 0;
}
.table.table-striped tbody tr td span a {
	color: #000c39;
}
.table.table-striped tbody tr td .progressDiv {
	width: 100px;
	height: 4px;
	border-radius: 10px;
	background: #ccc;
	margin-left: 8px;
	margin-top: 3px;
}
.sidebar .sidebar-brand-wrapper {
	background: #ffffff !important;
}
.table.table-striped tbody tr td .percent {
	display:flex;
}
.table.table-striped tbody tr td.py-1 {
	display: inline-flex;
	margin: 22px 0 0 0;
}
.table.table-striped .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
	border-top: none !important;
}
.table thead th, .jsgrid .jsgrid-table thead th {
	border-bottom: none !important;
}
.table-responsive {
	margin-top: 20px !important;
	    overflow: hidden;
}
.table.table-striped thead tr {
	background:#e3edef;
}
.table.table-striped thead tr th {
	color:#8292a6;
	font-weight:300;
	font-size:14px;
	text-transform:uppercase;
}
.menu-icon i {
	font-size:30px !important;
	color: #076272 !important;
}
.sidebar .nav .nav-item .menu-icon {
	background-color:transparent !important;
}
.sidebar .nav .nav-item.active > .nav-link i {
	color: #076372;
}
.navbar .navbar-menu-wrapper .search input {
}
.search .form-control {
	padding: 13px 20px 11px 62px !important;
	border: 1px solid #ffffff !important;
	border-radius: 50px;
	width: 40%;
	background: url(../images/search-icon.jpg) no-repeat left #fff !important;
	height: 50px;
	background-position: 8px !important;
	color: #000;
}
ul.nav li {
	margin-bottom:10px;
}
.pagination li:first-child a {
	padding:0;
	border:none;
}
.pagination li:last-child a {
	padding:0;
	border:none;
}
.pagination li a {
	background: #fff;
	color: #000;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	padding: 5px 0;
	text-align: center;
}
.pagination li {
	margin: 0 5px;
}
.pagination li a img {
	height:auto;
	width:100%;
}
.paginationDiv .pagination {
	float:right;
	margin-right:20px;
}

ul.nav #auth {  background: #1daac3 !important; margin-left:20px; }
ul.nav #auth a {
    color: #fff !important;
    background: #1daac3 !important;
}

.sidebar .nav.sub-menu {
    padding: 15px 44px;
    padding-right: 0;
}

  
/*new customer form*/  

.customDiv { width:100%; float:left;  }

.customDiv label {
    color: #000;
    width: 100%;
    float: left;
}

.customDiv .form-control {
    background: #fff;
    border: 1px solid #ccc;
}


.customDiv .form-check {
    width: auto;
    float: left;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}


.allTab-sec {
    width: 100%;
    float: left;
    padding: 30px 0;
}

.allTab-sec .tab-content {
    border: none;
    padding: 0;
}

.allTab-sec .tab-pane {
    color: #000;
    padding: 0;
}

.allTab-sec .form-control { background:#fff; border:1px solid #ccc; color:#000; }
.allTab-sec textarea { margin-bottom:10px; }	
	
.allTab-sec .nav-pills .nav-link.active, .nav-pills .show > .nav-link { background-color: #075f6e !important;  color: #fff; }
.allTab-sec	.nav-pills .nav-link { border:1px solid #075f6e; color:#075f6e; }

.allTab-sec .nav-pills {
    border-bottom: 1px solid #075f6e;
}

.allTab-sec .jAddRow.btn {
    background: #075f6e !important;
    padding: 8px !important;
    display: inline-block;
    margin-top: 12px;
	margin-bottom:12px;
}
.allTab-sec .table-editable input {
    width: auto;
    border: none;
    border-collapse: unset;
    margin: 0;
    font-size: 12px;
    padding: 0 3px;
}
.allTab-sec .table-submit { border:none !important; }
.allTab-sec .table-bordered {
    border: none !important;
    border-spacing: 0px !important;
    width: 100%;
    overflow: hidden;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.allTab-sec .table-bordered th {
    border: 1px solid #075f6e;
    padding: 6px 6px;
    font-size: 13px;
    font-weight: 500;
    color: #075f6e;
}
.allTab-sec .table-bordered td {
    border: 1px solid #075f6e;
}

.borderDiv {
    width: 100%;
    float: left;
    overflow: hidden;
}

.jDeleteRow {
    background: #075f6e;
    color: #fff;
	border:none !important;
}

.full .savDiv {
    background: #075f6e;
    padding: 6px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
	text-decoration:none !important;
}

.full .candiv {
    background: #3e5558;
    padding: 6px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    text-decoration: none !important;
}


.allTab-sec .form-check {
   
    margin-top: 0;
	
}


 
/*new customer form*/  
 
 

/****************project page****************/  
 
.projectDiv_lft { width:100%; float:left; color:#000; }

.projectDiv_lft h3 {
    color: #15294b;
    font-weight: bold;
}

.projectDiv_lft ul { padding:20px 0; }
.projectDiv_lft ul li {
    list-style-type: none;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #122749;
    font-weight: 500;
}

.projectDiv_lft ul li:last-child { 
 border:none !important;
}

.main_project {
    width: 100%;
    float: left;
    background: #f7fafc;
    padding: 30px;
    border-radius: 15px;
	margin-top: 30px;
    box-shadow: 0px 0px 6px #ccc;
}
.projectDiv_lft ul {
    padding: 20px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #ccc;
	padding-bottom: 0;
}
.main_project .form-control {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #e5e5e5;
    margin-bottom: 25px;
    height: 50px;
    padding: 0 20px;
	padding-left: 60px;
	background-size: 24px !important;
}
.form-check {
    margin-bottom: 20px;
}
.submitbtn {
    background: #076272;
    color: #fff !important;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.userDiv1 {
    background: url(../images/form-icon1.jpg) no-repeat left #fff !important;
    background-position: 19px !important;
}
.userDiv2 {
    background: url(../images/form-icon2.jpg) no-repeat left #fff !important;
    background-position: 19px !important;
}
.userDiv3 {
    background: url(../images/form-icon3.jpg) no-repeat left #fff !important;
    background-position: 19px !important;
}
.userDiv4 {
    background: url(../images/form-icon4.jpg) no-repeat left #fff !important;
    background-position: 19px !important;
}







.form-group2 {
  display: block;
  margin-bottom: 15px;
}

.form-group2 input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group2 label {
  position: relative;
  cursor: pointer;
}

.form-group2 label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 9px 9px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.form-group2 input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.new-form-check .form-group2 {
    display: inline-flex;
    margin-right: 15px;
}

.new-form-check label { width:100%;     color: #001339; }
.form-group2 label {
    font-weight: 500;
    color: #001339;
}
.boxthree ul {
    padding: 8px 0;
    border: 1px solid #075f6e;
    border-radius: 8px;
    display: inline-block;
    float: left;
    overflow: hidden;
}
.boxthree ul li {
    list-style-type: none;
    float: left;
    margin-right: 0;
}
.boxthree ul li a {
    color: #000;
    text-decoration: none !important;
    padding: 11px 25px;
}

.boxthree ul li a:hover { background:#076272; color:#fff; } 
 
.boxthree ul li.active a { background:#076272; color:#fff; }

.uplode-imgSec { width:100%; float:left; }

.uplode-imgSec h3 {
    color: #172b4d;
    margin: 20px 0 30px 0;
}

.uplode-imgSec-in { width:100%; float:left; }

.upDiv {
    width: 100%;
    float: left;
    border: 1px solid #076272;
    color: #000;
    text-align: center;
    padding: 225px 0;
    border-radius: 7px;
	position:relative;
}

.uplode-imgSec-in .form-control {
    background: #fff;
    border-radius: 5px;
    height: 50px;
    padding: 0 28px;
    border: 1px solid #075f6e;
}

.savbtn {
    background: #076272;
    color: #fff !important;
    padding: 6px 28px;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none !important;
    box-shadow: 3px 2px 6px #71bcc9;
}

.upDiv input[type="file"] {  }

/****************project page****************/  
 
  
/**********************************only table style*************************************/

@media only screen and (max-width: 991px) {
    
	
#no-more-tables td:before { content: attr(data-title); }
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { display: block; }
#no-more-tables thead tr { position: absolute; top: -9999px; left: -9999px; }
#no-more-tables tr {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    height: auto;
}
#no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    white-space: normal;
    text-align: left;
    display: flex;
    padding-bottom: 10px;
    font-size: 12px;
}
#no-more-tables td:before { 
        position: absolute;
     	top: 15px;
		left: 15px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
}
#no-more-tables td:nth-of-type(1):before {
 content: "PROJECT";
 color: #8292a6;
 font-weight:bold;
 top: 9px;
}
#no-more-tables td:nth-of-type(2):before {
 content: "CREATED AT";
 color: #8292a6;
 font-weight:bold;
}
#no-more-tables td:nth-of-type(3):before {
 content:"STATUS";
 color: #8292a6;
 font-weight:bold;
}
#no-more-tables td:nth-of-type(4):before {
 content:"BUDGET";
 color: #8292a6;
 font-weight:bold;
}
#no-more-tables td:nth-of-type(5):before {
 content:"TEAM";
 color: #8292a6;
 font-weight:bold;
}
#no-more-tables td:nth-of-type(6):before {
 content:"COMPLETION";
 color: #8292a6;
 font-weight:bold;
}
.table.table-striped tbody tr td ul {
    padding: 0;
    margin-bottom: 0;
}
.py-1 { margin-top:0 !important; } 	
	
}
 
/**********************************only table style*************************************/ 
 
/***********************************************new style***********************************************/

@media (max-width: 991px) {
.navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
 color: #fff;
}
.card-body {
    padding: 20px 15px !important;
}

.allTab-sec .nav-pills .nav-link {
    padding: 4px 10px;
}

 
.shipDiv { width:100%; float:left; margin-bottom:30px; }

 
} 
 @media (max-width: 767px) {
.combtnDiv {
 float: left;
}
.combtnDiv {
 font-size: 13px;
 padding: 6px 10px;
 float: right;
}
.dashboard-bodypart-in {
 padding: 0 10px;
}
.dashboard-bodypart h2 span {
width:100%;
float:left;
margin-bottom:15px;
}
.dashboard-bodypart h2 {
    float: left;
    width: 100%;
}

}


/*.assetsDiv*/







